@import "tailwindcss";

:root {
  --primary: #7A1F1F;
  --secondary: #D4AF37;
  --background: #FFF8F0;
  --surface: #FFFFFF;
  --text: #3A1C1C;
  --text-light: #6B6B6B;
  --border: #E8DCCF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
}

body{
    font-family: "Inter", sans-serif;
}

h1,h2,h3{
    font-family: "Playfair Display", serif;
}